%p
  = f.label :login
  %br
  = f.text_field :login 
%p
  = f.label :crypted_password
  %br
  = f.text_field :crypted_password 
%p
  = f.label :password_salt
  %br
  = f.text_field :password_salt 
%p
  = f.label :persistence_token
  %br
  = f.text_field :persistence_token 
%p
  = f.label :perishable_token
  %br
  = f.text_field :perishable_token 
%p
  = f.label :login_count
  %br
  = f.text_field :login_count 
%p
  = f.label :failed_login_count
  %br
  = f.text_field :failed_login_count 
