%p
  = f.label :page_id
  = f.text_field :page_id 
%p
  = f.label :list_order
  = f.text_field :list_order 
%p
  = f.label :view_type
  = f.text_field :view_type
%p
  = f.label :primary
  = f.check_box :primary 

