%h1 Editing Placement

= error_messages_for :placement 

- form_for(@placement) do |f|
  = render(:partial => 'form', :locals => {:f => f})
  %p= f.submit "Update"

= link_to 'Show', placement_path(@placement)
= link_to 'Back', placements_path

