%p.form_item.page-item
  = f.label :name, "Title"
  = f.text_field :name, :class => 'name-field'
  %br
  %span.js-show
    = link_to page.tag, page_path(page), :id => 'tag-edit-toggle'
.clear
%p.form_item.js-hide#tag-edit
  = f.label :tag
  = f.text_field :tag
= link_to "edit details", "#page-details", :id => 'page-details-toggle'

#page-details.js-hide
  %p.form_item
    = f.label :redirect_to, "Redirect Visitors to URL"
    = f.text_field  :redirect_to
  %p.form_item.page-item
    = f.label :page_layout_id
    = f.select :page_layout_id, page_layout_options, :include_blank => 'default layout'
  %p.form_item
    = f.label :metakeywords
    = f.text_area :metakeywords, :class => 'minor'
  %p.form_item
    = f.label :metadescription
    = f.text_area :metadescription, :class => 'minor'
.form_item.js-hide
  = f.select :primary_media, image_options, :include_blank => 'no image'

- content_for :dom_ready do
  $('#page-details-toggle').click( function() { $('#page-details').toggle('slow'); return false; } );
  $('#tag-edit-toggle').click( function() { $('#tag-edit').toggle('slow'); return false; } );
