- div_for page do
  %h2
    = link_to( page.name.blank? ? page.tag : page.name, page_path(page))
  .url
    = page.url
  .tag
    = page.tag
  = link_to 'Edit', edit_page_path(page), :class => "edit button"
  Items:
  = page.placements.count

  =# page.parent_pages.each do |pp|
  = if page.parent_page
    - pp = page.parent_page
    parent:
    = link_to pp.name, page_path( pp )
