<h1>Editing aggregator</h1>

<% form_for(@aggregator) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :logic %><br />
    <%= f.text_area :logic %>
  </p>
  <p>
    <%= f.label :page_id %><br />
    <%= f.text_field :page_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @aggregator %> |
<%= link_to 'Back', aggregators_path %>
